{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container d-flex ">
    <h1 class="kikou">
       Kikou
    </h1>
        <h2>Hello</h2>
    </div>
{% endblock %}
