{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5 performances-list">
        <div class="row">
            {% for artist in artists %}
                <div class="card col-3">
                    <img class="card-img-top" src="/uploads/performance/{{ artist.imageName }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ artist.nickname }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}