{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5 cards-list">
        <h1 class="typo-horror"> - ARTISTS -</h1>
        <div class="row">
            {% for artist in artists %}
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card m-1">
                        <img class="card-img-top" src="/uploads/artist/{{ artist.imageName }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ artist.nickname }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}