{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
        <h1 class="typo-horror">Tickets to stay alive : </h1>
        <div class="d-flex flex-column my-5 cards-list">
            <div class="row">
                {% for performance in performances %}
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="card m-1">
                            <img class="card-img-top" src="/uploads/performance/{{ performance.imageName }}"
                                 alt="Card image cap">
                            <div class="card-body d-flex flex-column align-items-center">
                                <h5 class="card-title">{{ performance.name }}</h5>
                                <p class="card-text ellipsis-text">{{ performance.description }}</p>
                                <a href="{{ path('show_performance', {id : performance.id}) }}" class="btn btn-danger">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}