.map{
  border : 15px solid black;
  .tile {
    height: 100px;
    min-width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    mix-blend-mode: multiply;
    position: relative;
    border: black 1px solid;

    &:hover {
      box-shadow: 0 0 1px black;
    }
    .user {
      width: 4rem;
    }
  }
}

.navigation{
  button{
    padding : 1rem;
    font-family: Horror;;
    font-size: 2rem;
    a{
      color: $blood;
      text-shadow: 1px 1px 1px black;

    }
  }
}
