.form-search {
min-width: 30rem;
}

.pagination {
    .page-link {
      color: black;
    }
    .page-item.active {
      .page-link {
        background-color: $blood;
        border-color: $blood;
      }
    }
  }
