.ticket-win {
  position: relative;

  img {
    width: 100%;
    opacity: 0.2;
  }

  .ticket-win-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: $blood;
      font-family: Horror;
      font-size: 4rem;
      text-shadow: 1px 1px 1px black;
    }

    p{
      color : black;
      font-size: 1rem;
    }
  }
}
