<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('build/images/Carousel2.jpg') }}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>ARE YOU READY...</h1>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('build/images/Carousel1.jpg') }}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>TO SEE THE MOST HORRIFIC</h1>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ asset('build/images/Carousel3.jpg') }}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h1>MONSTRUOUS THING ON EARTH</h1>
                <p>...</p>
            </div>
        </div>
    </div>
</div>