<footer class="d-flex align-items-center justify-content-center">
    <div class="madeWithLove">
        Made with <span><i class="fab fa-optin-monster"></i></span> by Céline Godichon for Wild Code School
    </div>
</footer>